

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --back: #F5F6FA;
  --income-bar: #17C666;
  --income-light: #E3F4E9;
  --expense-bar: #EA4D4D;
  --expense-light: #FDE4EA;
  --savings-bar: #FFA21D;
  --savings-light: #FFF6E0;
  --white: #FFFFFF;
  --button-color: #487FFF;
  --hover-color: #E4F1FF;
  --icon-back: #EBECEF;
  --text-col: #111827;
  --text-col-two: #7D8A96;
  --hover-colortee: #d2e0ff;
}
 


.incomebg{
  background-color: var(--income-light);
}
.expensebg{
  background-color: var(--expense-light);
}
.savingsbg{
  background-color: var(--savings-light);
}
.balancebg{
  background-color: var(--hover-color);
}






body{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}


.dash-item {
  background:white;
  height: 3rem;
  width: 90%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-left: 1rem;
  text-decoration: none;
 }

 .dash-icon{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  border: 0.0625rem solid white;
  background-color: white;
 }

 a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit; /* Retain the original text color */
}
 

 /* .active{
  background:#FCF1FE;
  height: 3rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-left: 1rem;
  border-right: .25rem solid #db81eb;
 } */



 tr{ display: flex;
    width:70rem;
    min-height: 2.56rem;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--back);
    gap: 80px;
    padding-left: 30px;
 }
 
 th, td {
    width: 10.5rem;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    word-wrap:break-word;
    
 }



 th{
   font-family: 'inter';
   font-size: 0.9em;
 
 }

 td{
   color: rgb(139, 138, 138);
   font-size: 0.8em;


 }



.react-datepicker {
  border: 2px solid #fdfeffc9; /* Custom border color */
  border-radius: 8px; /* Custom border radius */
  box-shadow: 0px 4px 8px rgba(138, 137, 137, 0.2);
  font-family: 'inter';
  font-size: 0.8em;
}

.react-datepicker__header {
  background-color: #fdfeffc9; /* Change header background */
  color: #fff; /* Change header text color */
  border-bottom: 0px solid white;
}

.react-datepicker__day--selected {
  background-color: var(--text-col-two); /* Change selected day background */
  color: #fff; /* Change selected day text color */
}

.react-datepicker__day--today {
  font-weight: bold;
  color: var(--button-color); /* Highlight today's date */
}

.react-datepicker__day--keyboard-selected {
  background-color: var(--button-color); /* Change keyboard-selected background */
  color: #fff;
}
.react-datepicker__navigation{
  /* border: 1px solid rgba(167, 166, 166, 0.329); */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 1.5rem;
  height: 1.5rem
}
/* .react-datepicker__input-container{
    position: relative;
    display: inline-block;
    width: 100%;
    border: 2px solid black;
    padding: 2px;
    padding-left: 8px;
    border-radius: 4px;
  } */
 
  .react-datepicker__input-container input{
    border: 0.5px solid var(--back);
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.38rem;
 
  }
  .react-datepicker__input-container {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 12px;
    /* box-shadow: 0 0.5px 1px 1px var(--back); */
    
}

  .react-datepicker-wrapper input:focus {
    border-color: rgba(128, 128, 128, 0.37);
    outline: none;
    
  }

  .react-datepicker__navigation-icon--next{

  }

  .react-datepicker__navigation-icon{


  }

  .datepicker__navigation-icon::before{

  border-color: #ccc;
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: "";
  display: block;
  height: 9px;
  position: absolute;
  top: 8px;
  width: 9px;

  }

  .react-datepicker__navigation-icon--next::before{
    transform: rotate(45deg);
    left: -4px;
  }
  .react-datepicker__navigation-icon--previous::before{

    transform: rotate(225deg);
    right: -4px;
  }

  .ProgressRoot { 
    position: relative;
    overflow: hidden;
    background: var(--black-a9);
    border-radius: 99999px;
    width: 300px;
    height: 25px;
  
    /* Fix overflow clipping in Safari */
    /* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
    transform: translateZ(0);
  }
  
  .ProgressIndicator {
    background-color: white;
    width: 100%;
    height: 100%;
    transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
  }
   

   .rotateIcon{
    transform: rotate(180deg);
   }

   .dot{
    animation: 1s iconBlink ease;

   }

   @keyframes iconBlink {

    from, to {
      opacity: 0.1;
      background-color:var(--hover-colortee);
    }

    10%{
      opacity: 0.2;
      background-color: var(--button-color);

    }
    30%{
      opacity: 0.3;
      background-color: var(--button-color);

    }
    40%{
      opacity: 0.4;
      background-color: var(--button-color);

    }
    50%{
      opacity: 0.5;
      background-color: var(--button-color);

    }
    60%{
      opacity: 0.4;
      background-color: var(--button-color);

    }
    80%{
      opacity: 0.3;
      background-color: var(--button-color);

    }
    90%{
      opacity: 0.2;
      background-color: var(--button-color);

    }

    100%{
      opacity: 0.1;
      background-color: var(--button-color);

    }
    
    
   }