@tailwind base;
@tailwind components;
@tailwind utilities;
 
body{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}


.dash-item {
  background:white;
  height: 3rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-left: 1rem;
 }

 .dash-icon{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  border: 0.0625rem solid white;
  background-color: white;
 }

 /* .active{
  background:#FCF1FE;
  height: 3rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-left: 1rem;
  border-right: .25rem solid #db81eb;
 } */



 tr{ display: flex;
    min-width:72rem;
    min-height: 3rem;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(221, 221, 221);
    gap: 80px;
    padding-left: 30px;
 }
 
 th, td {
    width: 10.5rem;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    word-wrap:break-word;
 }

 th{
   font-family: sans-serif;
   font-size: 1em;
 }

 td{
   color: rgb(139, 138, 138);
   font-size: 0.9em;


 }